@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Rubik-Regular";
    src: url("./assets/fonts/Rubik-Regular.ttf");
}

@font-face {
    font-family: "Rubik-SemiBold";
    src: url("./assets/fonts/Rubik-SemiBold.ttf");
}

@font-face {
    font-family: "Greconian";
    src: url("./assets/fonts/Greconian.ttf");
}